<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Login</h1>

<form class="" action="/login" method="post">
  <label for="">Username</label>
  <input type="text" name="username" value=""><br>
  <label for="">Password</label>
  <input type="password" name="password" value=""><br>
  <input type="submit" name="" value="Submit">
</form>
