<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>My Tables</h1>

<ul>
<% current_user.tables.each do |table| %>
  <li>
    <a href="tables/<%= table.slug %>"><%= table.title %></a>
  </li>
<% end %>
</ul>
