<h1>Tractates</h1>

<ul>
<% @user.tractates.uniq.sort_by {|tractate| tractate.name}.each do |tractate| %>
  <li>
    <a href="tractates/<%= tractate.slug %>"><%= tractate.name %></a>
  </li>
<% end %>
</ul>
