<h1>My <%= @tractate.name %> Tables</h1>

<ul>
<% @tractate.tables.each do |table| %>
  <li>
    <a href="/users/<%= current_user.id %>/tables/<%= table.slug %>"><%= table.title %></a>
  </li>
<% end %>
</ul>
