<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Enter or paste your words here:</h1>


<form class="" action="/users/<%= current_user.id %>/tables" method="post">
  <label>Title</label>
  <input type="text" name="title" value=""><br>
  <textarea name="section" rows="8" cols="80"></textarea><br>
  Public: <input type="checkbox" name="public"><br>
  Select a tractate
  <select name ="tractate">
    <% Tractate.all.sort_by {|tractate| tractate.name}.each do |tractate| %>
    <option value="<%= tractate.name %>"><%= tractate.name%></option>
    <% end %>
  </select><br>
  <input type="submit" value="Create Table">
</form>
